<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
</head>
<body>
Hello, this is my landing page. How are you doing?
<form action="/data2" method = "POST">
    <p>ID <input type = "text" name = "ID" /></p>
    <p>Name <input type = "text" name = "Name" /></p>
    <p>City <input type = "text" name = "City" /></p>
    <p>Country <input type = "text" name = "Country" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
<br>
<a href="http://127.0.0.1:5000/form">generate username</a>
</body>
</html>